################
# Vagrant part #
################

.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

################
# Ansible part #
################

*.retry

/provisioning/roles/rvm_io.ruby
/provisioning/roles/angstwad.docker_ubuntu

#############
# Ruby part #
#############

*.gem
Gemfile.lock
.bundle
vendor

##############
# Maven part #
##############

.mvn/

##############
# Other part #
##############

.ftpconfig
