################
# Vagrant part #
################

.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

################
# Ansible part #
################

*.retry

/provisioning/roles/rvm_io.ruby

#############
# Ruby part #
#############

*.gem
Gemfile.lock
.bundle
vendor

##############
# Other part #
##############

.ftpconfig
